{% extends 'tiposdecafe/padre.html' %}


{% block titulo %}
 


<body>
    <h1>About Me</h1>
    <p> 
        ¡Gracias por compartir más sobre ti, Nahuel! Con toda esa información, aquí tienes una primera versión para tu "About Me":
        
        Acerca de Mí: Nahuel Fortunato
        ¡Hola! Soy Nahuel Fortunato, un argentino que actualmente reside en Barcelona. Disfruto cada momento junto a mi esposa e hija, quienes son mi mayor fuente de inspiración.
        
        Pasiones:
        Mi vida se llena de emoción gracias a mi pasión por los videojuegos online. No solo es un hobby, sino una forma de conectar con otros y explorar mundos virtuales.
        
        Experiencia Laboral:
        Mi trayectoria profesional abarca diversos campos, desde atención al público hasta trabajos en fábricas, trato con animales, depósitos de alimentos y gasolineras. Aunque siempre me gustó la informática, las circunstancias me llevaron por diferentes caminos.
        
        Emigración y Familia:
        Hace dos años, decidimos emigrar en busca de un futuro mejor y para formar una familia sólida. Hoy, estamos logrando nuestros sueños y aspiramos a seguir creciendo, tanto profesional como personalmente.
        
        Valores:
        Busco formar parte de una empresa que valore mis esfuerzos. Sueño con la posibilidad de tener días de home office para disfrutar más tiempo con mi familia.
        
        Personalidad:
        Soy una persona directa que no entiende el doble sentido. Prefiero que las cosas se digan de frente, y suelo ser redundante al expresarme. Mi lema de vida es que lo que realmente vale es lo que está dentro de tu corazón, representado por mis tatuajes de Anubis y Horus.
        
        ¡Gracias por conocer un poco más sobre mí!</p>
    <p>Encuéntrame en LinkedIn: <a href="https://www.linkedin.com/in/nahuel-nazareno-fortunato-aab718142/" target="_blank">Mi Perfil de LinkedIn</a></p>
</body>


{% endblock %}