{% extends 'tiposdecafe/padre.html' %}

{% block subtitulo %}

<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-20 order-lg-2 text-white showcase-img" style="background-image: url('../assets/img/history-coffee.jpg')"></div>
            <div class="col-lg-20 order-lg-1 my-auto showcase-text">
                <h1 class="mb-5"> Un poco de historia </h1>

                <p class="lead mb-5">
                    Sumérgete en el fascinante viaje del café, una bebida que ha transcendido culturas y continentes a lo largo de la historia. Desde sus humildes comienzos en las montañas de Etiopía hasta convertirse en una fuerza global, el café ha dejado una huella imborrable en la sociedad y el comercio.
                </p>

                <p class="lead mb-5">
                    La leyenda cuenta que en el siglo IX, un pastor etíope llamado Kaldi descubrió el café después de notar la energía renovada en sus cabras que comían los frutos rojos de un arbusto. Este descubrimiento llevó al cultivo y consumo de café en la región.
                </p>

                <p class="lead mb-5">
                    Durante siglos, el café fue un tesoro bien guardado en el mundo árabe. Las primeras cafeterías, conocidas como "qahveh khaneh", se establecieron en el Medio Oriente en el siglo XV, convirtiéndose en centros de intercambio intelectual y social.
                </p>

                <p class="lead mb-5">
                    La popularidad del café se expandió a Europa en el siglo XVII, dando lugar a la apertura de las primeras cafeterías en ciudades como Venecia y Londres. El café se convirtió en una bebida de la élite intelectual y pronto se extendió por todo el continente.
                </p>

                <p class="lead mb-5">
                    En el siglo XVIII, las colonias europeas introdujeron el cultivo del café en regiones como América Latina, transformando la geografía y la economía de estos lugares. Las plantaciones de café se convirtieron en centros de producción y comercio.
                </p>

                <p class="lead mb-5">
                    La cultura del café continuó evolucionando a lo largo de los siglos, influyendo en movimientos artísticos, literarios y sociales. Hoy, el café es mucho más que una bebida; es un símbolo de encuentros, inspiración y conexión global.
                </p>
            </div>
        </div>
    </div>
</section>


{% endblock %}