{% extends 'tiposdecafe/padre.html' %}

{% block titulo %}
{% if messages %}
                    <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
                     </ul>
{%else %}
<h1 class="mb-5"> ¡Bienvenidos al maravilloso mundo del café de especialidad!</h1> 

            {% endif %}
{% endblock %}


{% block subtitulo %}
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-lg-20 order-lg-1 my-auto showcase-text">
                    <p>El café es una bebida apreciada en todo el mundo por su sabor distintivo y sus propiedades estimulantes. Con una historia rica y una variedad de perfiles de sabor, el café se ha convertido en una parte esencial de muchas culturas.</p>
                    <p>En nuestra página, exploraremos los diferentes aspectos del café, desde los diversos tipos de granos y sus orígenes hasta los métodos de tostado y preparación. Descubre la magia detrás de cada taza y sumérgete en el fascinante mundo del café con nosotros.</p>
                 </div>
            </div>
        </div>
{% endblock %}


{% block bajo %}    
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <!-- Formulario de Búsqueda -->
            <form method="GET" action="{% url 'tiposdecafe:ver_semillas' %}">
                {% csrf_token %}
                <div class="form-group">
                    
                     <button type="submit">Descubre todas las semillas cargas por usuarios aqui!</button>
            </form>
        </div>
        <div class="col-md-8">
        </div>
    </div>
</div>

{% endblock %} 