{% extends 'tiposdecafe/padre.html' %}

{% block titulo %}
<h1 class="mb-5"> Melodía de Transformación: El Baile del Café en el Tostador</h1> 
{% endblock %}


{% block subtitulo %}
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-lg-20 order-lg-1 my-auto showcase-text">
                    <p class="lead mb-0"> En el corazón de cada grano de café yace un secreto transformador: el tostado. En el fragante tostador, los granos danzan en una sinfonía de cambios de color y fragancia. Desde el suave tostado claro hasta el intenso oscuro, cada nota de calor despierta nuevos matices de sabor. Como un ballet coreografiado, el tostado libera aromas cautivadores y crea una sinfonía de sabores que deleitan los sentidos. Sumérgete en el arte del tostado y descubre cómo una simple semilla se convierte en una obra maestra aromática en cada taza.</p>
                
                    <br>
                    <br>
                    <br>
                    <a href="{% url 'formulario_tueste' %}" class="btn btn-success">Agregar información sobre el tueste</a>
                    </form>
                </div>
            </div>
        </div>


{% endblock %}