{% extends 'tiposdecafe/padre.html' %}

{% block titulo %}
    <h1 class="mb-5">Mis queridos Tutores</h1> 
{% endblock %}

{% block subtitulo %}
<h2> muy buenas mis queridos tutores me gustaria dejarles aqui un poco de info que les pueda server para navegar por mi pagina, soy un apacionado del cafe de especialidad y me gustaria que ademas de calificar mi trabajo en programacion puedan aondarse en el mundo del cafe!

</h2>

<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-20 order-lg-1 my-auto showcase-text">
                <p class="lead mb-0">
                    
                    1. **Semilla 1**
                    - Nombre: Arabica
                    - Región de Producción: América Latina
                    - Tipo: Arábica
                    - Altura de Cultivo: 800 - 2000 metros
                    - Tipo de Semilla: Bourbon
                    - Tiempo de Cosecha: 9 meses
                 
                 2. **Semilla 2**
                    - Nombre: Robusta
                    - Región de Producción: África
                    - Tipo: Robusta
                    - Altura de Cultivo: 200 - 800 metros
                    - Tipo de Semilla: Canephora
                    - Tiempo de Cosecha: 10 meses
                 
                 3. **Semilla 3**
                    - Nombre: Geisha
                    - Región de Producción: América Central
                    - Tipo: Arábica
                    - Altura de Cultivo: 1500 - 1900 metros
                    - Tipo de Semilla: Geisha
                    - Tiempo de Cosecha: 10 meses
                 
                 4. **Semilla 4**
                    - Nombre: Typica
                    - Región de Producción: Asia
                    - Tipo: Arábica
                    - Altura de Cultivo: 600 - 1200 metros
                    - Tipo de Semilla: Typica
                    - Tiempo de Cosecha: 9 meses
                 
                 5. **Semilla 5**
                    - Nombre: Maragogipe
                    - Región de Producción: América Latina
                    - Tipo: Arábica
                    - Altura de Cultivo: 800 - 2000 metros
                    - Tipo de Semilla: Maragogipe
                    - Tiempo de Cosecha: 10 meses
                 
                 6. **Semilla 6**
                    - Nombre: Excelsa
                    - Región de Producción: Asia
                    - Tipo: Arábica
                    - Altura de Cultivo: 1000 - 1700 metros
                    - Tipo de Semilla: Liberica
                    - Tiempo de Cosecha: 11 meses
                 
                 7. **Semilla 7**
                    - Nombre: SL28
                    - Región de Producción: África
                    - Tipo: Arábica
                    - Altura de Cultivo: 1200 - 2200 metros
                    - Tipo de Semilla: SL28
                    - Tiempo de Cosecha: 9 meses
                 
                 8. **Semilla 8**
                    - Nombre: Pacamara
                    - Región de Producción: América Latina
                    - Tipo: Arábica
                    - Altura de Cultivo: 1000 - 2000 metros
                    - Tipo de Semilla: Pacamara
                    - Tiempo de Cosecha: 10 meses
                 
                 9. **Semilla 9**
                    - Nombre: Castillo
                    - Región de Producción: América Latina
                    - Tipo: Arábica
                    - Altura de Cultivo: 800 - 2000 metros
                    - Tipo de Semilla: Castillo
                    - Tiempo de Cosecha: 9 meses
                 
                 10. **Semilla 10**
                     - Nombre: SL34
                     - Región de Producción: África
                     - Tipo: Arábica
                     - Altura de Cultivo: 1200 - 2200 metros
                     - Tipo de Semilla: SL34
                     - Tiempo de Cosecha: 9 meses
                 </p>
                <p> </p>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}